<div class="flex flex-col flex-auto w-full p-8 xs:p-2">
  <div class="flex flex-wrap w-full">
    <div class="flex items-center justify-between w-full my-4 px-4 xs:pr-0">
      <div class="mr-6">
        <h2 class="m-0">Teacher</h2>
        <div class="text-secondary tracking-tight">
          This is the list of Teacher in your application.
        </div>
      </div>
      <!-- Action buttons -->
      <div class="flex items-center">
        <button (click)="triggerTeacherAdd()" class="xs:hidden" mat-stroked-button>
          <mat-icon class="icon-size-20" [svgIcon]="'save'"></mat-icon>
          <span class="ml-2">Add Teacher</span>
        </button>

        <!-- Actions menu (visible on xs) -->
        <div class="hidden xs:flex">
          <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
            <mat-icon [svgIcon]="'more_vert'"></mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button (click)="triggerTeacherAdd()" mat-menu-item>
              <mat-icon class="icon-size-20" [svgIcon]="'save'"></mat-icon>
              <span class="ml-2">Add Teacher</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap w-full p-4">
      <ng-container *ngIf="rows">
        <app-teacher-list class="w-full"></app-teacher-list>
      </ng-container>
    </div>
  </div>
</div>
