<div class="w-full h-full relative overflow-auto">
  <div class="w-full flex flex-column justify-between items-start bg-white p-2">
    <div class="flex-1">
      <h1 class="font-bold m-0">Add User</h1>
    </div>
  </div>
  <div class="w-full p-2">
    <app-user-form #entityForm></app-user-form>

    <div class="flex items-center justify-end mt-2">
      <span class="inline-flex rounded-md shadow-sm mr-2">
        <button
          [disabled]="entityForm.loading | async"
          (click)="navigateToListPage()"
          type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-red-700 transition ease-in-out duration-150"
        >
         Cancel
        </button>
      </span>
      <span class="inline-flex rounded-md shadow-sm">
        <button
            [ladda]="entityForm.loading | async"
            (click)="submitForm()"
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-green-700 transition ease-in-out duration-150"
        >
         Save
        </button>
      </span>
    </div>
  </div>
</div>
