<ng-container *ngIf="formGroup">
  <form [formGroup]="formGroup" class="w-full h-full">
    <div class="bg-white shadow overflow-hidden rounded-md">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="rich-text">
          <h2>Basic Details</h2>
        </div>
        <div class="text-gray-500 text-md mt-2">
          Please enter Course-Enrollment details below.
        </div>
      </div>
      <div class="px-4 py-5">

        <!--COURSE-->
<div class="w-full">
  <app-course-autocomplete
  id="course"
  skfFormControlName="course"
  ></app-course-autocomplete>
</div>

<!--STUDENT-->
<div class="w-full">
  <app-student-autocomplete
  id="student"
  skfFormControlName="student"
  ></app-student-autocomplete>
</div>

      </div>
    </div>

    <!--COURSE-->
<div class="w-full">
  <app-course-autocomplete
  id="course"
  skfFormControlName="course"
  ></app-course-autocomplete>
</div>

<!--STUDENT-->
<div class="w-full">
  <app-student-autocomplete
  id="student"
  skfFormControlName="student"
  ></app-student-autocomplete>
</div>

  </form>
</ng-container>
