<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header flex flex-row justify-between items-end">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">TEACHER</span>
                <span class="separator">/</span>
                <span class="path">DETAIL</span>
            </div>
            <h1>Teacher detail</h1>
        </div>
        <div>
            <div class="xs:hidden">
                <button mat-flat-button color="primary" (click)="editEntity()">
                    <mat-icon svgIcon="edit"></mat-icon>
                    Edit
                </button>
                <button
                    class="ml-2"
                    mat-flat-button
                    color="warn"
                    (click)="deleteEntity()"
                >
                    <mat-icon svgIcon="delete"></mat-icon>
                    Delete
                </button>
            </div>

            <div class="hidden xs:flex">
                <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                    <mat-icon svgIcon="more_vert"></mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                    <button (click)="editEntity()" mat-menu-item>
                        <mat-icon class="icon-size-20" svgIcon="edit"></mat-icon>
                        <span class="ml-2">Edit</span>
                    </button>
                    <button (click)="deleteEntity()" mat-menu-item>
                        <mat-icon class="icon-size-20" svgIcon="delete"></mat-icon>
                        <span class="ml-2">Delete</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="max-w-3xl">
            <ng-container *ngIf="entity | async as entity">
                <app-teacher-detail title="Basic details" class="w-full" [entity]="entity">
                </app-teacher-detail>

                <div *ngIf="entity.schoolClass.length > 0">
  <div *ngFor="let relatedEntity of entity.schoolClass; index as i">
    <button
      class="my-6"
      mat-stroked-button
      color="primary"
      (click)="goToSchoolClassDetail(relatedEntity.id)"
    >
      <mat-icon class="icon-size-20 mr-1">visibility</mat-icon>
      School Class #{{ relatedEntity.id }}
    </button>
  </div>
</div>

            </ng-container>
        </div>
    </div>
</div>
