<ng-container *ngIf="formGroup">
  <form [formGroup]="formGroup" class="w-full h-full">
    <div class="bg-white shadow overflow-hidden rounded-md">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="rich-text">
          <h2>Basic Details</h2>
        </div>
        <div class="text-gray-500 text-md mt-2">
          Please enter School-Class details below.
        </div>
      </div>
      <div class="px-4 py-5">
        <!-- LEVEL-->
        <div class="col-span-3">
          <mat-form-field class="w-full">
            <mat-label>Level</mat-label>
            <input id="level" formControlName="level" type="text" matInput>
          </mat-form-field>
        </div>
        <!-- SUBJECT-->
        <div class="col-span-3">
          <mat-form-field class="w-full">
            <mat-label>Subject</mat-label>
            <input id="subject" formControlName="subject" type="text" matInput>
          </mat-form-field>
        </div>

        <!--COURSE-->
<div class="w-full">
  <app-course-autocomplete
  id="course"
  skfFormControlName="course"
  ></app-course-autocomplete>
</div>

      </div>
    </div>

    <!--COURSE-->
<div class="w-full">
  <app-course-autocomplete
  id="course"
  skfFormControlName="course"
  ></app-course-autocomplete>
</div>

<!--TEACHER-->
<div class="bg-white shadow overflow-hidden rounded-md mt-6">
  <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="rich-text">
      <h2>Teacher</h2>
    </div>
    <div class="text-gray-500 text-md mt-2">
      Please select teacher below.
    </div>
  </div>

  <app-teacher-list mode="single-select" skfFormControlName="teacher"></app-teacher-list>
</div>

  </form>
</ng-container>
