<div class="content-layout fullwidth-standard-normal-scroll">
  <div class="header flex flex-row justify-between items-end">
    <div class="container">
      <div class="breadcrumb">
        <span class="path">SCHOOL</span>
        <span class="separator">/</span>
        <span class="path">EDIT</span>
      </div>
      <h1>Edit School</h1>
    </div>
  </div>
  <div class="main">
    <div class="max-w-3xl">
      <ng-container *ngIf="entity | async as entity">
        <app-school-form [entity]="entity" #entityForm></app-school-form>

        <div class="flex items-center justify-end mt-6">
          <button
              [disabled]="entityForm.loading | async"
              (click)="navigateToDetailPage()"
              mat-button
          >
            Cancel
          </button>
          <button
              class="px-6 ml-3 text-white"
              color="primary"
              mat-flat-button
              [ladda]="entityForm.loading | async"
              (click)="submitForm()"
          >
            Save
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
