<ng-container *ngIf="formGroup">
  <form [formGroup]="formGroup" class="w-full h-full">
    <div class="bg-white overflow-hidden rounded-md mb-2">
      <div class="px-4 py-2 border-b border-gray-200">
        <div class="">
          <h2>Basic Details</h2>
        </div>
        <div class="text-gray-500 text-md mt-2">
          Please enter Teacher details below.
        </div>
      </div>
      <div class="px-4 pt-2 pb-4">
        <!-- FIRST NAME-->
        <div>
          <label for="first-name" class="block text-sm font-medium leading-5 text-gray-700">
            First-Name
          </label>
          <div class="mt-1 relative rounded-md shadow-sm h-10">
            <input id="first-name" formControlName="firstName" class="form-input block w-full sm:text-sm sm:leading-5">
          </div>
        </div>
        <!-- LAST NAME-->
        <div>
          <label for="last-name" class="block text-sm font-medium leading-5 text-gray-700">
            Last-Name
          </label>
          <div class="mt-1 relative rounded-md shadow-sm h-10">
            <input id="last-name" formControlName="lastName" class="form-input block w-full sm:text-sm sm:leading-5">
          </div>
        </div>

        
      </div>
    </div>

    
  </form>
</ng-container>
