<ng-container *ngIf="formGroup">
  <form [formGroup]="formGroup" class="w-full h-full">
    <div class="bg-white overflow-hidden rounded-md mb-2">
      <div class="px-4 py-2 border-b border-gray-200">
        <div class="">
          <h2>Basic Details</h2>
        </div>
        <div class="text-gray-500 text-md mt-2">
          Please enter School details below.
        </div>
      </div>
      <div class="px-4 pt-2 pb-4">
        <!-- NAME-->
        <div>
          <label for="name" class="block text-sm font-medium leading-5 text-gray-700">
            Name
          </label>
          <div class="mt-1 relative rounded-md shadow-sm h-10">
            <input id="name" formControlName="name" class="form-input block w-full sm:text-sm sm:leading-5">
          </div>
        </div>

        
      </div>
    </div>

    <!--COURSE-->
<div class="bg-white overflow-hidden rounded-md mb-2">
  <div class="px-4 py-2 border-b border-gray-200">
    <div class="rich-text">
      <h2>Course</h2>
    </div>
    <div class="text-gray-500 text-md mt-2">
      Please select course below.
    </div>
  </div>

  <app-course-list mode="cart" skfFormControlName="course"></app-course-list>
</div>

  </form>
</ng-container>
