<div class="flex flex-auto w-full">
  <div
      class="flex flex-col flex-auto bg-white shadow overflow-hidden rounded-md"
  >
    <ng-container *ngIf="addingEntity | async as entity">
      <h4 class="pl-6 pb-2">Add a new School Class</h4>
      <div class="w-full h-full px-6 pb-6">
        <app-school-class-form [entity]="entity" #addForm></app-school-class-form>
        <div class="flex items-center justify-end">
          <button class="px-6 mr-3" mat-button (click)="cancelAdd()">
            Cancel
          </button>
          <button class="px-6" mat-flat-button color="primary" (click)="addToCart(addForm.entity)">
            Add School Class
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!(addingEntity | async) && rows | async as entities">
      <ng-container *ngIf="!entities.length">
        <div class="flex items-center justify-center">
          <div class="flex flex-col items-center max-w-80 w-full p-8 filter-info">
            <div
              class="flex items-center justify-center p-5 bg-indigo-100 rounded-full"
            >
              <mat-icon
                class="icon-size-40 text-indigo"
                [svgIcon]="'dripicons:folder-open'"
              ></mat-icon>
            </div>
            <div class="text-2xl font-semibold leading-tight text-center mt-6">
              The list is empty!
            </div>
            <div class="text-center text-secondary mt-3">
              There are no School Classes to list
              <br />
              To create one click in the button below
            </div>
            <button
              class="px-6 mt-8"
              mat-flat-button
              [color]="'primary'"
              (click)="triggerAdd()"
            >
              Add School Classes
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="entities.length">
        <div class="overflow-auto">
          <table
            class="w-full bg-transparent"
            mat-table
            matSort
            [dataSource]="listDataSource"
            #list
          >
            <ng-container
              *ngIf="mode?.type === 'single-select' || mode?.type === 'multi-select'"
            >
              <th></th>
            </ng-container>
            <!-- Selection Column -->
            <ng-container matColumnDef="selection-column">
              <th
                class="bg-cool-gray-50 dark:bg-cool-gray-700"
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
              >
            <span class="whitespace-no-wrap">
            </span>
              </th>
              <td mat-cell *matCellDef="let entity">
            <span
              class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap"
            >
              <!-- Entity selection-->
              <ng-container *ngIf="mode?.type">
                <mat-checkbox class="mb-2"
                  [checked]="mode.isSelected(entity)"
                  [name]="formList.name"
                  (change)="
                    mode.isSelected(entity)
                      ? mode.unselect(entity)
                      : mode.select(entity)
                  "
                >
                </mat-checkbox>
              </ng-container>
            </span>
              </td>
            </ng-container>
            
          <!-- ID -->
          <ng-container matColumnDef="id">
            <th
              class="bg-cool-gray-50 dark:bg-cool-gray-700"
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef
            >
              <span class="whitespace-no-wrap">
                Id
              </span>
            </th>
            <td mat-cell *matCellDef="let entity">
              <span
                class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap"
              >
              {{ mode?.type === 'cart' ? entity.value.id : entity.id }}
            </span>
          </td>
        </ng-container>
          <!-- LEVEL -->
          <ng-container matColumnDef="level">
            <th
              class="bg-cool-gray-50 dark:bg-cool-gray-700"
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef
            >
              <span class="whitespace-no-wrap">
                Level
              </span>
            </th>
            <td mat-cell *matCellDef="let entity">
              <span
                class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap"
              >
              {{ mode?.type === 'cart' ? entity.value.level : entity.level }}
            </span>
          </td>
        </ng-container>
          <!-- SUBJECT -->
          <ng-container matColumnDef="subject">
            <th
              class="bg-cool-gray-50 dark:bg-cool-gray-700"
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef
            >
              <span class="whitespace-no-wrap">
                Subject
              </span>
            </th>
            <td mat-cell *matCellDef="let entity">
              <span
                class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap"
              >
              {{ mode?.type === 'cart' ? entity.value.subject : entity.subject }}
            </span>
          </td>
        </ng-container>
          <!-- COURSE ID -->
          <ng-container matColumnDef="course-id">
            <th
              class="bg-cool-gray-50 dark:bg-cool-gray-700"
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef
            >
              <span class="whitespace-no-wrap">
                CourseId
              </span>
            </th>
            <td mat-cell *matCellDef="let entity">
              <span
                class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap"
              >
              {{ mode?.type === 'cart' ? entity.value.courseId : entity.courseId }}
            </span>
          </td>
        </ng-container>
          <!-- TEACHER ID -->
          <ng-container matColumnDef="teacher-id">
            <th
              class="bg-cool-gray-50 dark:bg-cool-gray-700"
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef
            >
              <span class="whitespace-no-wrap">
                TeacherId
              </span>
            </th>
            <td mat-cell *matCellDef="let entity">
              <span
                class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap"
              >
              {{ mode?.type === 'cart' ? entity.value.teacherId : entity.teacherId }}
            </span>
          </td>
        </ng-container>
            <!-- ACTIONS -->
            <ng-container matColumnDef="actions">
              <th
                class="bg-cool-gray-50 dark:bg-cool-gray-700 text-right"
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
              >
                <span class="whitespace-no-wrap">
                  Actions
                </span>
              </th>
              <ng-container *ngIf="mode?.type === 'cart'">
                <td mat-cell *matCellDef="let index" class="text-right">
                  <button mat-stroked-button (click)="removeFromCartAt(index)">
                    Remove
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="mode?.type !== 'cart'">
                <td mat-cell *matCellDef="let entity" class="text-right">
                  <button mat-stroked-button (click)="triggerDetail(entity.id)">
                    View
                  </button>
                </td>
              </ng-container>
            </ng-container>
            <!-- Footer -->
            <ng-container matColumnDef="listTableFooter">
              <td
                class="px-3 border-none"
                mat-footer-cell
                *matFooterCellDef
                colspan="6"
              >
                <ng-container *ngIf="mode?.type === 'cart'">
                  <div class="flex items-center justify-end">
                    <button class="px-6 float-right" mat-flat-button [color]="'primary'" (click)="triggerAdd()">
                      Add School Class
                    </button>
                  </div>
                </ng-container>
                <!-- Add a your table footer here-->
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="
              mode?.type === 'single-select' || mode?.type === 'multi-select'
                ? ['selection-column'].concat(listTableColumns)
                : listTableColumns"></tr>
            <tr
              class="order-row h-16"
              mat-row
              *matRowDef="
                let row;
                columns: mode?.type === 'single-select' || mode?.type === 'multi-select'
                  ? ['selection-column'].concat(listTableColumns)
                  : listTableColumns
              "
            ></tr>
            <tr
              class="h-16"
              mat-footer-row
              *matFooterRowDef="['listTableFooter']"
            ></tr>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
