<ion-header class="osahan-nav">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon
          ios="menu-sharp"
          md="menu-sharp"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      School-Class
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button
        [routerLink]="['/shoppingcart']"
        class="top-cart"
        color="primary"
      >
        <ion-icon
          ios="cart-sharp"
          md="cart-sharp"
        ></ion-icon>
        <ion-badge color="primary">3</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
