<div class="content-layout fullwidth-standard-normal-scroll">
  <div class="header flex flex-row justify-between items-end">
    <div class="container">
      <div class="breadcrumb">
        <span class="path">SCHOOL CLASS</span>
        <span class="separator">/</span>
        <span class="path">ADD</span>
      </div>
      <h1>Add SchoolClass</h1>
    </div>
  </div>
  <div class="main">
    <div class="max-w-3xl">
      <app-school-class-form #entityForm></app-school-class-form>

      <div class="flex items-center justify-end mt-6">
        <button
            [disabled]="entityForm.loading | async"
            (click)="navigateToListPage()"
            mat-button
        >
          Cancel
        </button>
        <button
            class="px-6 ml-3 text-white"
            color="primary"
            mat-flat-button
            [ladda]="entityForm.loading | async"
            (click)="submitForm()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
