<ng-container *ngIf="formGroup">
  <form [formGroup]="formGroup" class="w-full h-full">
    <div class="bg-white overflow-hidden rounded-md mb-2">
      <div class="px-4 py-2 border-b border-gray-200">
        <div class="">
          <h2>Basic Details</h2>
        </div>
        <div class="text-gray-500 text-md mt-2">
          Please enter School-Class details below.
        </div>
      </div>
      <div class="px-4 pt-2 pb-4">
        <!-- LEVEL-->
        <div>
          <label for="level" class="block text-sm font-medium leading-5 text-gray-700">
            Level
          </label>
          <div class="mt-1 relative rounded-md shadow-sm h-10">
            <input id="level" formControlName="level" class="form-input block w-full sm:text-sm sm:leading-5">
          </div>
        </div>
        <!-- SUBJECT-->
        <div>
          <label for="subject" class="block text-sm font-medium leading-5 text-gray-700">
            Subject
          </label>
          <div class="mt-1 relative rounded-md shadow-sm h-10">
            <input id="subject" formControlName="subject" class="form-input block w-full sm:text-sm sm:leading-5">
          </div>
        </div>

        <!--COURSE-->
<div class="w-full">
  <app-course-autocomplete
  id="course"
  skfFormControlName="course"
  ></app-course-autocomplete>
</div>

      </div>
    </div>

    <!--COURSE-->
<div class="w-full">
  <app-course-autocomplete
  id="course"
  skfFormControlName="course"
  ></app-course-autocomplete>
</div>

<!--TEACHER-->
<div class="bg-white overflow-hidden rounded-md mb-2">
  <div class="px-4 py-2 border-b border-gray-200">
    <div class="rich-text">
      <h2>Teacher</h2>
    </div>
    <div class="text-gray-500 text-md mt-2">
      Please select teacher below.
    </div>
  </div>

  <app-teacher-list mode="single-select" skfFormControlName="teacher"></app-teacher-list>
</div>

  </form>
</ng-container>
